:root {
    --text-color: #fff;
    --size-border-radius: 8px;
    --img-url : "https://images.unsplash.com/photo-1604390602659-772f5ff37579?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1051&q=80";
}
::-webkit-input-placeholder {
    text-align: center;
 }
.bgImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    animation: fadeIn .5s linear;
}
.shortcut-wrapper {
    display: flex;
    justify-content: flex-end;
}
.shortcut-link{
    opacity: 0.5;
}
.shortcut-link:hover {
    opacity: 1;
}
.momentum {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    height: 300px;
    width: 600px;
    margin: -200px 0px 0px -300px;
    padding: 5px;
    color: var(--text-color);
}
.clock {
    font-size: 40px;
}
input {
    border-radius: var(--size-border-radius);
    padding: 10px;
}
.color-changer {
    width: 50px;
    padding: 0;
}
.form, .greetings {
    display: none;
    font-size: 30px;
}
.showing {
    display: block;
}
.js-greetings {
    display: inline;
}
.js-toDoList {
    font-size: 20px;
    font-weight: bold;
}
.js-toDoForm input {
    text-align: center;
}
.span-todo {
    margin-right: 10px;
    margin-bottom: 5px;
    display: inline-block;
    width: 400px;
}
li {
    list-style: none;
}