.button {
	border: none;
	background-color: #afb8c9;
	padding: 10px 10px;
	border-radius: 10px;
	font-size: 15px;
	color: #fff;
	box-shadow: 0 10px 25px #3c4a5645;
	outline: none;
	cursor: pointer;
}
h3 {
    font-size: 18px;
    margin-top: 0;
	margin-bottom: 15px;
}
p{
	font-size: 16px;
}
.button-open:hover {
    transition: scale(1.1);
}
.button-close {
	padding: 10px;
	align-self: flex-end; 
	background-color: transparent;
	box-shadow: none;
	color: #838282;
}

dialog {
	padding: 0;
	border: none;
	border-radius: 10px;
	animation: appear .8s cubic-bezier(.77,0,.175,1) forwards;
	box-shadow: 0 25px 40px -20px #3c4a56;
}

.dialog__animate-out{
	animation: dissappear .5s cubic-bezier(.77,0,.175,1) forwards;
}
.dialog__inner {
	display: flex;
	flex-direction: column;
	color: #838282;
}
.dialog__close-btn {
	align-self: flex-end;
}
.dialog__content {
    padding: 20px;
    text-align: center;
}
.dialog__footer{
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

@keyframes appear {
	from {
		opacity: 0;
		transform: translateY(20px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes dissappear {
	from {
		opacity: 1;
		transform: translateY(0);
	}
	to {
		opacity: 0;
		transform: translateY(20px);
	}
}